{% extends "student/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Reset Password here</h1>
    <div class = "content-section">
      <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
              <legend class = "border-bottom mb-4">
                Reset Password
              </legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button type="submit" name="button" class="btn btn-outline-info">
                Request Password Reset!
              </button>
            </div>
      </form>
      
    </div>
{% endblock content %}
