{% extends "student/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Register here</h1>
    <div class = "content-section">
      <form method = "POST">
            
            <fieldset class = "form-group">
              <legend class = "border-bottom mb-4">
                Join right now!!
              </legend>
              {{ form|crispy }}
              <!--added start-->
              {{ add_form|crispy }}
              <!--added end-->
            </fieldset>
            <div class="form-group">
              <button type="submit" name="button" class="btn btn-outline-info">
                Sign up!
              </button>
            </div>
      </form>
      <div class="border-top pt-3">
        <small class = "text-muted">
          Already registered?
          <a class = "ml-2" href="{% url 'login' %}">
            Sign in
          </a>
        </small>
      </div>
    </div>
{% endblock content %}
